<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.warnett.rclone-amazon</string>
    <key>Program</key>
    <string>/Users/richard/Documents/dev/scripts/rclone-amazon.sh</string>
    <key>StandardErrorPath</key>
    <string>/var/log/rclone-amazon.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/rclone-amazon.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>3600</integer>
</dict>
</plist>
